<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientKey</key>
	<string>pXBGQSvk1HTJDtG0aXC5TPLVeEsk4jil3Qu4YD4Q</string>
	<key>appId</key>
	<string>Fqi1GOHz6h2bO8UfIDn2gYBMGQSHSWe5c4IMMldQ</string>
</dict>
</plist>
